# Exploração para identificar inconsistencias na base de dados e refinamento

In [2]:
import pandas as pd

In [3]:
path_trusted = "/home/alencaravelar/Desktop/zetta-lab/zetta-lab/data/trusted/base_udh_trusted.csv"

df = pd.read_csv(path_trusted)

df.head()

,Cod_ID,NOME_UDH,NOME_MUN,IDHM,IDHM_E,IDHM_R,IDHM_L,E_ANOSESTUDO,I_ESCOLARIDADE,I_FREQ_PROP,GINI,CPR
0,1310500000001,Baldim,Baldim (MG),0.592,0.459,0.591,0.766,9.69,0.277,0.591,0.52,26.43
1,1310620001001,Lindéia / Jatobá,Belo Horizonte (MG),0.664,0.565,0.654,0.791,10.48,0.430,0.648,0.40,21.07
2,1310620001002,Solar do Barreiro : Corumbiara,Belo Horizonte (MG),0.582,0.430,0.609,0.751,9.27,0.332,0.490,0.44,22.33
3,1310620001003,Bonsucesso : Novo das Indústrias / São João,Belo Horizonte (MG),0.529,0.358,0.570,0.725,7.95,0.230,0.447,0.41,16.19
4,1310620001004,Vila Olhos d'Água,Belo Horizonte (MG),0.531,0.390,0.553,0.693,8.55,0.280,0.461,0.40,16.99

### Verificando(mias uma vez ) se os atributos selecionados foram salvos corretamente na nova base de dados.

In [4]:
df.columns

Index(['Cod_ID', 'NOME_UDH', 'NOME_MUN', 'IDHM', 'IDHM_E', 'IDHM_R', 'IDHM_L',
       'E_ANOSESTUDO', 'I_ESCOLARIDADE', 'I_FREQ_PROP', 'GINI', 'CPR'],
      dtype='object')

### Processo de verificação de inconsistencias na base de dados

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1246 entries, 0 to 1245
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Cod_ID          1246 non-null   int64
 1   NOME_UDH        1246 non-null   object
 2   NOME_MUN        1246 non-null   object
 3   IDHM            1228 non-null   float64
 4   IDHM_E          1228 non-null   float64
 5   IDHM_R          1228 non-null   float64
 6   IDHM_L          1228 non-null   float64
 7   E_ANOSESTUDO    1228 non-null   float64
 8   I_ESCOLARIDADE  1228 non-null   float64
 9   I_FREQ_PROP     1228 non-null   float64
 10  GINI            1228 non-null   float64
 11  CPR             1228 non-null   float64
dtypes: float64(9), int64(1), object(2)
memory usage: 116.9+ KB

In [6]:
df.isnull().sum()

Cod_ID             0
NOME_UDH           0
NOME_MUN           0
IDHM              18
IDHM_E            18
IDHM_R            18
IDHM_L            18
E_ANOSESTUDO      18
I_ESCOLARIDADE    18
I_FREQ_PROP       18
GINI              18
CPR               18
dtype: int64

Encontrados valores nulos em alguns atributos, necessa caso, apenas realizarei o drop dos valores nulos

In [ ]:
# Salvando o dataset sem dados nulos em um novo arquivo csv 
novo_df = df.dropna()

In [12]:
df.head()

,Cod_ID,NOME_UDH,NOME_MUN,IDHM,IDHM_E,IDHM_R,IDHM_L,E_ANOSESTUDO,I_ESCOLARIDADE,I_FREQ_PROP,GINI,CPR
0,1310500000001,Baldim,Baldim (MG),0.592,0.459,0.591,0.766,9.69,0.277,0.591,0.52,26.43
1,1310620001001,Lindéia / Jatobá,Belo Horizonte (MG),0.664,0.565,0.654,0.791,10.48,0.430,0.648,0.40,21.07
2,1310620001002,Solar do Barreiro : Corumbiara,Belo Horizonte (MG),0.582,0.430,0.609,0.751,9.27,0.332,0.490,0.44,22.33
3,1310620001003,Bonsucesso : Novo das Indústrias / São João,Belo Horizonte (MG),0.529,0.358,0.570,0.725,7.95,0.230,0.447,0.41,16.19
4,1310620001004,Vila Olhos d'Água,Belo Horizonte (MG),0.531,0.390,0.553,0.693,8.55,0.280,0.461,0.40,16.99

In [13]:
novo_df.head()

,Cod_ID,NOME_UDH,NOME_MUN,IDHM,IDHM_E,IDHM_R,IDHM_L,E_ANOSESTUDO,I_ESCOLARIDADE,I_FREQ_PROP,GINI,CPR
0,1310500000001,Baldim,Baldim (MG),0.592,0.459,0.591,0.766,9.69,0.277,0.591,0.52,26.43
1,1310620001001,Lindéia / Jatobá,Belo Horizonte (MG),0.664,0.565,0.654,0.791,10.48,0.430,0.648,0.40,21.07
2,1310620001002,Solar do Barreiro : Corumbiara,Belo Horizonte (MG),0.582,0.430,0.609,0.751,9.27,0.332,0.490,0.44,22.33
3,1310620001003,Bonsucesso : Novo das Indústrias / São João,Belo Horizonte (MG),0.529,0.358,0.570,0.725,7.95,0.230,0.447,0.41,16.19
4,1310620001004,Vila Olhos d'Água,Belo Horizonte (MG),0.531,0.390,0.553,0.693,8.55,0.280,0.461,0.40,16.99

In [14]:
novo_df.isnull().sum()

Cod_ID            0
NOME_UDH          0
NOME_MUN          0
IDHM              0
IDHM_E            0
IDHM_R            0
IDHM_L            0
E_ANOSESTUDO      0
I_ESCOLARIDADE    0
I_FREQ_PROP       0
GINI              0
CPR               0
dtype: int64

In [17]:
df.duplicated()
df.duplicated().sum()

np.int64(0)

In [18]:
novo_df.to_csv("/home/alencaravelar/Desktop/zetta-lab/zetta-lab/data/refined/base_udh_refined.csv")