# Exploração da base de dados : "dados-bh"

In [3]:
import pandas as pd

In [4]:
# Lendo o arquivo / criando um data frame

arquivo = '/home/alencaravelar/Desktop/zetta-lab/zetta-lab/data/raw/dados-bh.xls'
df = pd.read_excel(arquivo)

df.head()

,Cod_ID,UDH_Atlas,NOME_UDH,CODMUN6,NOME_MUN,CODUF,NOME_UF,CODRM,NOME_RM,ANO,...,T_FLFUND_tudo,T_FLMED_tudo,T_FLBAS_tudo,T_FUND11A13_tudo,I_ESCOLARIDADE,I_FREQ_PROP,IDHM,IDHM_E,IDHM_L,IDHM_R
0,1310500000001,1310500000001,Baldim,310500,Baldim (MG),31,MG,63100,RM Belo Horizonte (MG),2000,...,97.38,46.43,92.79,91.40,0.277,0.591,0.592,0.459,0.766,0.591
1,1310620001001,1310620001001,Lindéia / Jatobá,310620,Belo Horizonte (MG),31,MG,63100,RM Belo Horizonte (MG),2000,...,97.65,56.81,93.85,93.08,0.430,0.648,0.664,0.565,0.791,0.654
2,1310620001002,1310620001002,Solar do Barreiro : Corumbiara,310620,Belo Horizonte (MG),31,MG,63100,RM Belo Horizonte (MG),2000,...,92.20,32.88,89.25,83.58,0.332,0.490,0.582,0.430,0.751,0.609
3,1310620001003,1310620001003,Bonsucesso : Novo das Indústrias / São João,310620,Belo Horizonte (MG),31,MG,63100,RM Belo Horizonte (MG),2000,...,91.48,30.99,85.95,81.02,0.230,0.447,0.529,0.358,0.725,0.570
4,1310620001004,1310620001004,Vila Olhos d'Água,310620,Belo Horizonte (MG),31,MG,63100,RM Belo Horizonte (MG),2000,...,94.32,19.54,87.30,83.95,0.280,0.461,0.531,0.390,0.693,0.553

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1246 entries, 0 to 1245
Columns: 237 entries, Cod_ID to IDHM_R
dtypes: float64(164), int64(69), object(4)
memory usage: 2.3+ MB

In [8]:
df.columns

Index(['Cod_ID', 'UDH_Atlas', 'NOME_UDH', 'CODMUN6', 'NOME_MUN', 'CODUF',
       'NOME_UF', 'CODRM', 'NOME_RM', 'ANO',
       ...
       'T_FLFUND_tudo', 'T_FLMED_tudo', 'T_FLBAS_tudo', 'T_FUND11A13_tudo',
       'I_ESCOLARIDADE', 'I_FREQ_PROP', 'IDHM', 'IDHM_E', 'IDHM_L', 'IDHM_R'],
      dtype='object', length=237)

In [ ]:
df.isnull()

,Cod_ID,UDH_Atlas,NOME_UDH,CODMUN6,NOME_MUN,CODUF,NOME_UF,CODRM,NOME_RM,ANO,...,T_FLFUND_tudo,T_FLMED_tudo,T_FLBAS_tudo,T_FUND11A13_tudo,I_ESCOLARIDADE,I_FREQ_PROP,IDHM,IDHM_E,IDHM_L,IDHM_R
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1241,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1242,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1243,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1244,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1245,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isnull().sum()

Cod_ID          0
UDH_Atlas       0
NOME_UDH        0
CODMUN6         0
NOME_MUN        0
               ..
I_FREQ_PROP    18
IDHM           18
IDHM_E         18
IDHM_L         18
IDHM_R         18
Length: 237, dtype: int64

In [ ]:
df[df.isnull().any(axis=1)]

,Cod_ID,UDH_Atlas,NOME_UDH,CODMUN6,NOME_MUN,CODUF,NOME_UF,CODRM,NOME_RM,ANO,...,T_FLFUND_tudo,T_FLMED_tudo,T_FLBAS_tudo,T_FUND11A13_tudo,I_ESCOLARIDADE,I_FREQ_PROP,IDHM,IDHM_E,IDHM_L,IDHM_R
0,1310500000001,1310500000001,Baldim,310500,Baldim (MG),31,MG,63100,RM Belo Horizonte (MG),2000,...,97.38,46.43,92.79,91.40,0.277,0.591,0.592,0.459,0.766,0.591
1,1310620001001,1310620001001,Lindéia / Jatobá,310620,Belo Horizonte (MG),31,MG,63100,RM Belo Horizonte (MG),2000,...,97.65,56.81,93.85,93.08,0.430,0.648,0.664,0.565,0.791,0.654
2,1310620001002,1310620001002,Solar do Barreiro : Corumbiara,310620,Belo Horizonte (MG),31,MG,63100,RM Belo Horizonte (MG),2000,...,92.20,32.88,89.25,83.58,0.332,0.490,0.582,0.430,0.751,0.609
3,1310620001003,1310620001003,Bonsucesso : Novo das Indústrias / São João,310620,Belo Horizonte (MG),31,MG,63100,RM Belo Horizonte (MG),2000,...,91.48,30.99,85.95,81.02,0.230,0.447,0.529,0.358,0.725,0.570
4,1310620001004,1310620001004,Vila Olhos d'Água,310620,Belo Horizonte (MG),31,MG,63100,RM Belo Horizonte (MG),2000,...,94.32,19.54,87.30,83.95,0.280,0.461,0.531,0.390,0.693,0.553
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1241,1317120401008,1317120401008,Célvia : Célvia / Fagundes,317120,Vespasiano (MG),31,MG,63100,RM Belo Horizonte (MG),2010,...,97.74,61.71,92.74,91.43,0.513,0.720,0.712,0.643,0.826,0.679
1242,1317120401009,1317120401009,Vespasiano : Bela Vista / Alphaville / Angicos,317120,Vespasiano (MG),31,MG,63100,RM Belo Horizonte (MG),2010,...,97.04,48.99,92.99,90.06,0.569,0.664,0.721,0.631,0.836,0.711
1243,1317120401010,1317120401010,Novo Horizonte : Bom Sucesso / Santa Clara / C...,317120,Vespasiano (MG),31,MG,63100,RM Belo Horizonte (MG),2010,...,96.88,49.22,92.25,84.24,0.391,0.638,0.632,0.542,0.746,0.624
1244,1317120401011,1317120401011,Nova Cachoeira : Jardim Encantado / Cipriano,317120,Vespasiano (MG),31,MG,63100,RM Belo Horizonte (MG),2010,...,97.04,48.99,92.99,90.06,0.569,0.664,0.721,0.631,0.836,0.711
1245,1317120401012,1317120401012,Areias : Ribeirão das Areias / Bairro Aparecid...,317120,Vespasiano (MG),31,MG,63100,RM Belo Horizonte (MG),2010,...,93.76,38.69,89.61,83.53,0.388,0.617,0.639,0.529,0.772,0.638